{% extends 'jsondataferret/base.html' %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'jsondataferret_index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Types</li>
      </ol>
    </nav>
{% endblock %}

{% block content %}

    {% if types %}
        <table class="table">
            <tr>
                <td>Title</td>
                <td>&nbsp;</td>
            </tr>
            {% for type in types %}
                <tr>
                    <td><a href="{% url 'jsondataferret_type_index' public_id=type.public_id %}">{{ type.title }}</a></td>
                    <td><a href="{% url 'jsondataferret_type_index' public_id=type.public_id %}" class="btn btn-primary">View</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No types are available.</p>
    {% endif %}

{% endblock %}
