{% extends 'jsondataferretexampleapp/base.html' %}



{% block content %}

<p>Organisation {{ organisation.data_private.title }}</p>

<table class="table">
    {% for title, value in field_data.items %}
        <tr><th>{{ title }}</th><td>{{ value }}</td></tr>
    {% endfor %}
</table>


{% if organisation.status_public %}
    <p><a href="{% url 'jsondataferretexampleapp_admin_organisation_make_private' public_id=organisation.public_id %}" class="btn btn-primary">Change to Private</a></p>
    <p><a href="{% url 'jsondataferretexampleapp_admin_organisation_make_disputed' public_id=organisation.public_id %}" class="btn btn-primary">Change to Disputed</a></p>
{% endif %}
<P><a href="{% url 'jsondataferretexampleapp_admin_organisation_download_form' public_id=organisation.public_id %}" class="btn btn-primary">Download Form</a></P>
<P><a href="{% url 'jsondataferretexampleapp_admin_organisation_import_form' public_id=organisation.public_id %}" class="btn btn-primary">Upload/Import Form</a></P>
<P><a href="{% url 'jsondataferretexampleapp_admin_organisation_moderate' public_id=organisation.public_id %}" class="btn btn-primary">Moderate</a></P>

{% endblock %}
