{% extends 'jsondataferret/base.html' %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'jsondataferret_index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'jsondataferret_type_list' %}">Types</a></li>
        <li class="breadcrumb-item active" aria-current="page">Type {{ type.title }}</li>
      </ol>
    </nav>
{% endblock %}


{% block content %}

<h2>Type {{ type.title }}</h2>

<p><a href="{% url 'jsondataferret_type_record_list' type_id=type.public_id %}" class="btn btn-primary">Records</a></p>
<p><a href="{% url 'jsondataferret_type_record_list_needs_moderation' type_id=type.public_id %}" class="btn btn-primary">Records Needing Moderation</a></p>

{% if download_form_available %}
    <p><a href="{% url 'jsondataferret_type_download_blank_form' type_id=type.public_id %}" class="btn btn-primary">Download blank Spreadsheet</a></p>
{% endif %}

{% endblock %}
